

/* page 1 */
  .header {
    height:30%;
    width:100%;
    float:left;
    /* style="width:100% ; height:100%"> */
    background-image: url("https://i.imgur.com/z5N6Q55.png");

  }

  .containerStream1 {
    height:50%;
    width:75%;
    float:left;
    background-color:#6441A4;
  }

  .containerChat1 {
    height:50%;
    width:25%;
    float:right;
    background-color:#6441A4;
  }

  .containerStream2 {
    height:50%;
    width:75%;
    float:left;
    background-color:#6441A4;
  }

  .containerChat2 {
    height:50%;
    width:25%;
    float:right;
    background-color:#6441A4;
  }

  .containerNavigation {
    height:20%;
    width:100%;
    float:left;
    background-color:green;
  }

/* page 2 */
  .left {
    height:100%;
    width:25%;
    float:left;
    background-color:#57437B;
  }

  .middle {
    height:100%;
    width:50%;
    float:left;
    background-color:#9473D2;
  }

  .right {
    height:100%;
    width:25%;
    float:left;
    background-color:#57437B;
  }
/* page 3 */
  .containerSlideshow {
    height:60%;
    width:100%;
    float:left;
    background-color:#9473D2;
  }

  .containerInteractive {
    height:30%;
    width:100%;
    float:left;
    background-color:gray;
  }


  .footer {
    height:10%;
    width:100%;
    float:right;
    background-color:#A58CD2;
  }


  @media screen and (max-width: 960px) {
    .ContainerMain{
        width: 100%;
    }
  }

  @media screen and (max-width: 960px) {
    .left, .middle, .right {
      width: 100%;
    }
  }
